.main__search{
    background-color: rgb(250, 248, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    width: 100%;
}

.main_search_components{
    display: flex;
}

.selector__input {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: white;
    border-style: none;
    outline: none;
    border : solid 1px black;
    padding-left: 40px;
    background-image: url(https://img.icons8.com/material-rounded/24/000000/person-male.png);
    background-position: 2%;
    background-repeat: no-repeat;

    span{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 150px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
    }

}