.main__search{
    background-color: rgb(250, 248, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    width: 100%;
}

.main_search_components{
}